@use './variaveis' as *;
@use './mixins' as *;

/* SERVIÇOS */
.services {
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $espacamento-p;
  }

  &__card {
    background: $cor-cinza;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
  }
}

/* DEPOIMENTOS */
.testimonials {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $espacamento-p;
    width: 100%;
  }

  &__item {
    background: $cor-cinza;
    padding: $espacamento-p;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;

    &:hover {
      transform: scale(1.03);
    }
  }
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  gap: $espacamento-p;
  width: 50%;

  &__input,
  &__textarea {
    padding: 0.8rem;
    width: 100%;
    @include borda-arredondada;
    border: 1px solid $cor-borda;
    &:focus {
      outline: none;
      border-color: $cor-primaria;
    }
  }

  &__button {
    @include botao;
    @include borda-arredondada;
  }
}