@use './variaveis' as *;
@use './mixins' as *;
@use 'sass:math';

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $espacamento-p 5%;
  background: $cor-preto;
  color: $cor-branco;

  &__nav-list {
    display: flex;
    gap: 1.5rem;
    list-style: none;
  }

  &__link {
    color: $cor-branco;
    text-decoration: none;
  }
}

/* BANNER */
.banner {
  height: 60vh;
  background: linear-gradient(to right, $cor-secundaria, $cor-primaria);
  color: $cor-branco;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  @include flex-center;
  flex-direction: column;
}

/* SECTION */
.section {
  padding: $espacamento-g 5%;
  margin: math.div($espacamento-p, 2);

  display: flex;
  flex-direction: column;
  align-items: center;

  background: $cor-branco;
  border: 1px solid $cor-borda;
  border-radius: 15px;
}