@use './variaveis' as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin botao {
  padding: 0.8rem;
  background: $cor-primaria;
  color: $cor-branco;
    border: none;
  cursor: pointer;
}

@mixin borda-arredondada($raio: 8px) {
  border-radius: $raio;
}