$cor-primaria: #2575fc;
$cor-secundaria: #6a11cb;
$cor-fundo: #838383;
$cor-branco: #fff;
$cor-preto: #111;
$cor-cinza: #f4f4f4;
$cor-borda: #ddd;

$espacamento-p: 1rem;
$espacamento-g: 3rem;

$fonte: Arial, sans-serif;